@model StockServer.Models.OfferViewModels.AddOfferItemsViewModel

@{
    ViewData["Title"] = "Add items";
}

<h2>Add items</h2>

<form asp-action="AddOfferItems" asp-area="">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.HiddenFor(model => model.PlaceId)
        @Html.HiddenFor(model => model.OfferId)
        <div class="form-group">
            <label asp-for="@Model.Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="@Model.Amount" class="form-control" />
                <span asp-validation-for="@Model.Amount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="PlaceOffers" asp-area="" asp-route-Id="@Model.PlaceId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
