@model StockServer.Models.OfferViewModels.PlaceOffersViewModel

@{
    ViewData["Title"] = "Places";
}

<h2>Places</h2>

<p>
    <a asp-action="Create" asp-area="" asp-route-placeId="@Model.PlaceId">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Title")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("IsActive")
            </th>
            <th>
                @Html.DisplayName("AvailableAmount")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Offers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableAmount)
                </td>
                <td>
                    <p>
                        <a asp-action="AddOfferItems" asp-area="" asp-route-offerId="@item.Id" asp-route-placeId="@Model.PlaceId">Add items</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
