@model IEnumerable<StockServer.BL.Model.Purchase>

@{
    ViewData["Title"] = "Purchases";
}

<h2>Purchases</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Offer
            </th>
            <th>
            </th>
            <th>
                User
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="image">
                        <img src="@item.Offer.LogoUrl" style="width:30px;height:30px" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Offer.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="DeliverPurchase" asp-area="" asp-route-offerTransactionId="@item.OfferTransactionId">
                        <span class="glyphicon glyphicon-export listitem-action" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
